<h2 class="text-xl font-semibold text-gray-900">Classement des profils :</h2>
<ol class="mt-4 space-y-4">
  <% count = 1 %>
  <% @sorted_profiles.each do |profile| %>
    <li class="flex items-center">
      <div class="mr-4">
        <p class="text-lg font-semibold text-gray-700">#<%= count %></p>
      </div>
      <% if profile.photo.attached? %>
        <%= image_tag(profile.photo, class: "h-12 w-12 rounded-full bg-gray-50") %>
      <% else %>
        <span class="h-12 w-12 rounded-full bg-gray-50"></span>
      <% end %>
      <div class="ml-4">
        <p class="text-lg font-semibold text-gray-900"><%= profile.username %> <%= profile.score %></p>

      </div>
    </li>
    <% count += 1 %>
  <% end %>
</ol>
