
<%= render 'form', profile: @profile %>
<%# <%= simple_form_for @profile do |f| %>
  <!-- Insert your form fields here -->
  <!-- For example: -->
  <%# <div>
    <%= f.input :username, label: "Ton pseudo", class: "w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm", placeholder: "janesmith" %>
  <%# </div>
  <!-- And so on for the rest of your fields -->

  <div class="actions">
    <%= f.submit %>
  <%# </div>
<% end %>
